@model MyCms.Domain.Entities.User.User
@{
    ViewData["Title"] = "SuccessRegister";
}

<h2>پایان ثبت نام</h2>
<hr/>
<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در سایت ، یک ایمیل فعالسازی به آدرس '@Model.Email' ارسال شد .</p>
</div>

